@model IEnumerable<ShopNoiThat.Models.Mcategory>
@{ var mainmenuitem = ViewBag.mainmenuitem; }
<li class="nav-item "><a style="white-space:nowrap" class="nav-link border-bottom" href="~/@mainmenuitem.slug"> @mainmenuitem.name</a></li>