<div class="block">
    <div class="title-group"><h2>Bình luận</h2></div>
    <div id="clients-say" class="owl-container">
        <div class="owl">
            <div class='testimonial-list'>
                <div class="testimonial-sidebar-content">
                    <div class="content">
                        <a href="#">Không có gì cả</a>
                    </div>
                    <div class="post-by">
                        <div class="testimonial-content-avatar">
                            <img src="/Images/HangSXs/Adidas.jpg" alt="test" />
                        </div>
                        <div class="box-author">
                            <span class="testimonial-author">Mr rooney</span>
                            <span class="testimonial-date">March 24, 2015</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='testimonial-list'>
                <div class="testimonial-sidebar-content">
                    <div class="content">
                        <a href="#">Không có gì cả</a>
                    </div>
                    <div class="post-by">
                        <div class="testimonial-content-avatar">
                            <img src="/Images/logo.png" alt="test" />
                        </div>
                        <div class="box-author">
                            <span class="testimonial-author">Robert Carlo</span>
                            <span class="testimonial-date">January 30, 2015</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='testimonial-list'>
                <div class="testimonial-sidebar-content">
                    <div class="content">
                        <a href="#">Không có gì cả </a>
                    </div>
                    <div class="post-by">
                        <div class="testimonial-content-avatar">
                            <img src="/Images/flag-us.png" alt="test" />
                        </div>
                        <div class="box-author">
                            <span class="testimonial-author">mr Lee</span>
                            <span class="testimonial-date">January 30, 2015</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.block - Latest News -->
