@using ShopBanDoTheThao.Models
@{
    var danhSachChuyenMuc = (List<ChuyenMuc>)ViewData["DanhSachChuyenMuc"];
    ShopEntities shop=new ShopEntities();
    if (ViewBag.Id != null)
    {
        var id = (int)ViewBag.Id;
        var cm = shop.ChuyenMucs.SingleOrDefault(c => c.MaChuyenMuc == id);
        if (cm!=null)
        {
            danhSachChuyenMuc.Remove(cm);
        }

    }
}

<div class="catlist">
    <div class="container">
            <div class="title-group1">
                <h2>CHUYÊN MỤC KHÁC</h2>
            </div>

        <div class="row">
            @if (danhSachChuyenMuc != null)
            {
                foreach (var item in danhSachChuyenMuc.Skip(3).ToList())
                {
                    var dsChuyenMucCon = shop.ChuyenMucs.Where(s => s.MaChuyenMucCha == item.MaChuyenMuc);
                    var dsSanPham = new List<SanPham>();
                    foreach (var cmcon in dsChuyenMucCon)
                    {
                        dsSanPham.AddRange(shop.SanPhams.Where(s => s.MaChuyenMuc == cmcon.MaChuyenMuc).OrderByDescending(s => s.MaSanPham).ToList());
                    }

                    <div class="col-md-4 col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="image-cat">
                                    <a href="/ChuyenMuc/Index/@item.MaChuyenMuc"><img alt="Electronic" src="@dsSanPham.OrderByDescending(s => s.MaSanPham).ToList()[0].AnhDaiDien" style="height: 170px;"></a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="name-cat">
                                    <h3>@item.TenChuyenMuc</h3>
                                </div>
                                <a class="view-more" href="/ChuyenMuc/Index/@item.MaChuyenMuc">Xem thêm</a>
                            </div>
                        </div>
                        @if (dsChuyenMucCon.Any())
                    {
                            <div class="list-cat">
                                <ul>
                                    @foreach (var cm in dsChuyenMucCon)
                                    {
                                        <li><a href="/ChuyenMuc/LaySanPham/@cm.MaChuyenMuc">@cm.TenChuyenMuc</a></li>
                                    }

                                </ul>
                            </div>
                        }

                    </div>



                }
            }
            
        </div>
    </div>
</div>
