@using ShopBanDoTheThao.Models

@{
   ShopEntities shop=new ShopEntities();
    var dsHangSX = shop.HangSanXuats.ToList();
}
<div class="brands">
    <div class="container">
        <div class="title-group1">
            <h2>Hãng sản xuất phổ biến</h2>
        </div>
        <div id="brands" class="owl-container">
            <div class="owl">
               @foreach (var item in dsHangSX)
               {
                <div class='item'>
                    <div class="item-innner">
                        <a href="@item.LinkWeb" title=""><img src="@item.AnhDaiDien" alt="@item.TenHang"  /></a>
                    </div>
                </div>
               }

            </div>
        </div><!-- /#brands -->
    </div>
</div><!-- /.brands -->
