<div class="timely">
    <div class="title-group"><h2>Ưu đãi lớn</h2></div>
    <div id="timely-owl" class="owl-container">
        <div class="owl">
            <div class='timer-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#" title="Fusce aliquam" class="product-image"><img src="~/Images/Products/1090_may_cay_bo_dien_da_nang_mht_400.JPG" alt="Fusce aliquam" /></a>
                        <div class="box-timer">
                            <div class="countbox_1 timer-grid"></div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h2 class="product-name"><a href="#" title="Fusce aliquam">Máy chạy bộ điện đa năng</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Giá</span>
                                <span class="price">8900000</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Giá niêm yết: </span>
                                <span class="price">12900000</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">1 Lượt xem</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='timer-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#" title="Fusce aliquam" class="product-image"><img src="~/Images/Products/1090_may_cay_bo_dien_da_nang_mht_400.JPG" alt="Fusce aliquam" /></a>
                        <div class="box-timer">
                            <div class="countbox_1 timer-grid"></div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h2 class="product-name"><a href="#" title="Fusce aliquam">Máy chạy bộ điện đa năng</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Giá</span>
                                <span class="price">8900000</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Giá niêm yết: </span>
                                <span class="price">12900000</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">1 Lượt xem</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='timer-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#" title="Fusce aliquam" class="product-image"><img src="~/Images/Products/1090_may_cay_bo_dien_da_nang_mht_400.JPG" alt="Fusce aliquam" /></a>
                        <div class="box-timer">
                            <div class="countbox_1 timer-grid"></div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h2 class="product-name"><a href="#" title="Fusce aliquam">Máy chạy bộ điện đa năng</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Giá</span>
                                <span class="price">8900000</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Giá niêm yết: </span>
                                <span class="price">12900000</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">1 Lượt xem</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.timely -->
